body {
    background: #F7F0E6;

    margin: 0px;

    font-family: "Afacad", sans-serif;
    font-weight: 400;
    color: #161E05;
}

.hotbar {
    background: #E8DFD1;

    display: flex;
    justify-content: space-between;
}

#hotbar-logo {
    display: flex;
    justify-content: start;

    font-family: "Afacad", sans-serif;
    font-weight: bold;

    padding: 20px;
    margin: 0px;
}

#hotbar-menu {
    display: flex;
    justify-content: end;
    gap: 100px;

    padding: 30px 70px 20px 30px;
}

.menu-btn {
    border: none;
    padding: 0px;

    font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #161E05;

    background: #E8DFD1;

}