body {
    background: #F7F0E6;

    margin: 0px;

    font-family: "Afacad", sans-serif;
    font-weight: 400;
    color: #161E05;
}

.pointer {
    cursor: pointer;
}

.navbar {
    background: #E8DFD1;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-logo {
    display: flex;
    justify-content: start;

    font-family: "Afacad", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #161E05;
    letter-spacing: 3px;

    margin: 20px 30px 20px 40px;
    border: none;

    background: #E8DFD1;
}

#navbar-menu {
    display: flex;
    justify-content: end;
    gap: 100px;

    margin: 30px 70px 20px 30px;

    height: 25px
}

.menu-btn {
    border: none;
    padding: 0px;

    font-family: "Afacad", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #161E05;

    background: #E8DFD1;
}

.menu-btn:hover {
    color: #88886D;
    cursor: pointer;
}

#header-img {
    width: 100%;
    height: auto;
}
